.container {
  display: flex;
}

#drawspace {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results {
  display: flex;
  flex: 1;  
}

.result {
  display: flex;
  flex: 1;
  background-color: white;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  border: 1px solid;
  border-radius: 5px;
  margin: 10px 10px;  
}

.logo {
  height: 50px;
  padding: 0 10px;
}
